<div class="home">
	<div class="hero">
		<h3>
			Everyone's a Critic
		</h3>

		<a ng-href="#/register" class="signUpButton">Sign Up Now</a>
	</div>

	<div class="content">

		<div class="quick">
			
			<div>
				<h3>Test</h3>
	
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, magnam consectetur ad alias optio explicabo cumque facilis temporibus tempore tempora! Aperiam doloribus reiciendis ea ipsa quasi, sapiente. Rerum, autem, velit.</p>
			</div>
			<div>
				<h3>Test</h3>
	
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, magnam consectetur ad alias optio explicabo cumque facilis temporibus tempore tempora! Aperiam doloribus reiciendis ea ipsa quasi, sapiente. Rerum, autem, velit.</p>
			</div>
			<div>
				<h3>Test</h3>
	
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, magnam consectetur ad alias optio explicabo cumque facilis temporibus tempore tempora! Aperiam doloribus reiciendis ea ipsa quasi, sapiente. Rerum, autem, velit.</p>
			</div>
		</div>

	</div>




</div>